.sky-video {
	position: relative;
	padding-top: 56.25%;
	width: 100%;
}

button.sky-video-play {
	position: relative;
	z-index: 2;
	display: inline-block;
	width: 100%;
	height: 100%;
	padding: 0;
	border: none;
	background-color: transparent;
	font: inherit;
	color: inherit;
	text-align: inherit;
	vertical-align: baseline;
	cursor: pointer;

	&.default-button:before,
	&.default-button:after {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&.default-button:before {
		content: '';
		display: block;
		width: 75px;
		height: 75px;
		border: 2px solid #fff;
		border-radius: 100px;
	}

	&.default-button:after {
		content: '';
		transform: translate(-40%, -50%);
		border-left: 30px solid #fff;
		border-top: 20px solid transparent;
		border-bottom: 20px solid transparent;
	}
}

.sky-video-iframe {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	position: absolute;

	iframe,
	div {
		width: 100%;
		height: 100%;
	}

	.playing & {
		z-index: 4;
	}
}

.sky-video-click {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 3;
}

.sky-video-poster {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	position: absolute;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
